In [1]:
import pandas as pd

In [3]:
#Leitura dos arquivos
df1 = pd.read_excel('Aracaju.xlsx')
df2 = pd.read_excel('Fortaleza.xlsx')
df3 = pd.read_excel('Natal.xlsx')
df4 = pd.read_excel('Recife.xlsx')
df5 = pd.read_excel('Salvador.xlsx')

In [4]:
df1.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [5]:
#Mesclando todos os arquivos em 1 
df = pd.concat([df1,df2,df3,df4,df5])

In [6]:
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [9]:
#Uma amostra de 5 linhas aleatórias
df.sample(5)

        Cidade       Data  Vendas  LojaID  Qtde
118      Natal 2019-01-02   92.21    1035     2
149      Natal 2019-01-02   22.38    1034     3
226      Natal 2019-01-02   38.32    1035     2
195      Natal 2019-01-02   44.89    1036     3
47   Fortaleza 2019-01-01   13.45    1004     5

In [10]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [11]:
#Alterar tipo de dado de uma coluna
df['LojaID'] = df['LojaID'].astype('object')

In [12]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [13]:
#Consultando valores vazios
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [14]:
#Substituindo valores vazios por média
df['Vendas'].fillna(df['Vendas'].mean(), inplace=True)

In [15]:
df['Vendas'].mean()

122.61180089485458

In [16]:
#Substituindo valores vazios por zero
df['Vendas'].fillna(0, inplace=True)

In [17]:
df['Vendas'].mean()

122.61180089485458

In [18]:
#Apaga as linhas com valores nulos
df.dropna(inplace=True)

In [19]:
#Apaga as linhas com valores nulos apenas na coluna selecionada
df.dropna(subset=['Vendas'], inplace=True)

In [20]:
#Remove linhas que estejam com valores faltantes 
df.dropna(how='all', inplace=True)

In [ ]:
#@title Criando nova receita

In [22]:
#Criando coluna de receita
df['Receita'] = df['Vendas'].mul(df['Qtde'])

In [23]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [24]:
df['Receita/Vendas'] = df["Receita"] / df['Vendas']

In [25]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00   1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21   1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55   1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01   1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51   1522     8   196.08             8.0

In [28]:
df['Dif mult'] = df['Vendas'] * df['Qtde']

In [29]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas  Dif mult
0  Aracaju 2018-01-01  142.00   1520     1   142.00             1.0    142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26             6.0     85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55             1.0     71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07             7.0     21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08             8.0    196.08

In [30]:
#Retornando a maior receita
df['Receita'].max()

3544.0

In [31]:
#Menor receita
df['Receita'].min()

3.34

In [32]:
#as 3 maiores receitas
df.nlargest(3,'Receita')

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas  Dif mult
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0    3544.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0    3436.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0    3436.0

In [33]:
#As 3 menores receitas
df.nsmallest(3, 'Receita')

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Dif mult
118,Aracaju,2018-01-01,3.34,1522,1,3.34,1.0,3.34
65,Recife,2019-01-01,4.01,981,1,4.01,1.0,4.01
92,Natal,2019-01-02,4.57,1035,1,4.57,1.0,4.57

In [35]:
#Receita por cidade
df.groupby('Cidade')['Receita'].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [36]:
#Ordenar o conjunto de dados
df.sort_values('Receita', ascending=False).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas  Dif mult
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0    3544.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0    3436.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0    3436.0
30  Natal 2018-10-02   856.0    853     4   3424.0             4.0    3424.0
41  Natal 2018-05-20   835.0    852     4   3340.0             4.0    3340.0
38  Natal 2018-02-25   828.0    852     4   3312.0             4.0    3312.0
10  Natal 2018-10-27   828.0    852     4   3312.0             4.0    3312.0
69  Natal 2019-03-24   817.0    852     4   3268.0             4.0    3268.0
62  Natal 2018-02-10   793.0    854     4   3172.0             4.0    3172.0
52  Natal 2018-04-27   778.0    854     4   3112.0             4.0    3112.0